{% extends "web/base.html" %}
{% load account socialaccount %}
{% load static%}
{% load bootstrap4 %}
{% load maj_extras %}
{% load account %}
{% load i18n %}

{% block content %}


<div class=container fluid>
  {% include "web/covid-data.html" %}
  <div class="row justify-content-center" style="margin-top: 25px; margin-bottom: 50px;">
    <div class="col-md-5 card">
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <div class="card-body">
        <h1 class="card-title">{% trans "Changement de mot de passe" %} </h1>
        <form class="login card-text" method="POST" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button class="btn btn-success" style="width:100%;" type="submit">{% trans "Changer de mot de passe" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
