{% extends "web/base.html" %}
{% load account socialaccount %}
{% load static%}
{% load bootstrap4 %}
{% load maj_extras %}
{% load account %}
{% load i18n %}

{% block content %}


<div class=container fluid>
  {% include "web/covid-data.html" %}
  <div class="row justify-content-center" style="margin-top: 25px; margin-bottom: 50px;">
    <div class="col-md-5 card">
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <div class="card-body">
        <h1 class="card-title">{% trans "Réinitialisation" %}</h1>
        <p class="card-text">{% trans "Vous avez perdu votre mot de passe ? Entrez votre adresse mail ci-dessous et nous vous enverons un e-mail pour le réinitialiser" %}</p>
        <form class="login card-text" method="POST" action="{% url 'account_reset_password' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button class="btn btn-success" style="width:100%;" type="submit">{% trans "Réinitialiser" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
