{% extends "web/base.html" %}
{% load account socialaccount %}
{% load static%}
{% load bootstrap4 %}
{% load maj_extras %}
{% load account %}
{% load i18n %}

{% block content %}


<div class=container fluid>
  {% include "web/covid-data.html" %}
  <div class="row justify-content-center" style="margin-top: 25px; margin-bottom: 50px;">
    <div class="col-md-5 card">
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <div class="card-body">
        <h1 class="card-title">{% if token_fail %}{% trans "Erreur, lien invalide" %}{% else %}{% trans "Changement de mot de passe" %}{% endif %}</h1>
        {% if token_fail %}{% url 'account_reset_password' as passwd_reset_url %}
        <p class="card-text">{% blocktrans %}Le lien de réinitialisation est invalide. Vous pouvez redemander un nouveau <a href="{{ passwd_reset_url }}">lien de réinitialisation</a>.{% endblocktrans %}
        {% else %}
        {% if form %}
        <form class="login card-text" method="POST" action="{{ action_url }}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button class="btn btn-success" style="width:100%;" type="submit">{% trans "Changer de mot de passe" %}</button>
        </form>
        {% else %}
        <p class="card-text">{% trans "Votre mot de passe a été modifié avec succès" %}</p>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
