{% extends "web/base.html" %}
{% load account socialaccount %}
{% load static%}
{% load bootstrap4 %}
{% load maj_extras %}
{% load account %}
{% load i18n %}

{% block content %}


<div class=container fluid>
  {% include "wev/covid-data.html" %}
  <div class="row justify-content-center" style="margin-top: 25px; margin-bottom: 50px;">
    <div class="col-md-5 card">
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <div class="card-body">
        <h1 class="card-title">{% trans "Réinitialisation réussie" %}</h1>
        <p class="card-text">{% trans "Votre mot de passe a été modifié avec succès." %}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
