{% load i18n %}
{% load static %}

<div class="row justify-content-center" style="margin-top: 50px; margin-bottom: 20px;">
  <div class="d-md-block col-md-7">
    <div class="d-flex justify-content-start">
      <img class="d-flex" src="{% static 'web/images/logo.png'%}" width="75" height="75" alt="">
      <div class="site-brand align-self-center"> Covid Data </div>
    </div>
    <h4 class="site-title">{% trans "Utilisons aussi les données pour combattre le coronavirus" %}</h4>
  </div>
  <div class="col-md-5">
  </div>
</div>

