{% extends "web/base.html" %}
{% load account socialaccount %}
{% load static%}
{% load bootstrap4 %}
{% load maj_extras %}
{% load i18n %}

{% block content %}


<div class=container fluid>
  {% include "web/covid-data.html" %}

  <div class="jumbotron" style="padding-top:50px; padding-bottom: 50px; margin-bottom: 100px; margin-top: 100px;">
       <h1 class="title-jumbo">{% trans "Accès aux données" %}</h1>
      <hr class="my-4">
      <h2 class="title-jumbo">{% trans "Je suis cadre" %}</h2>
      <ul>
        <li class="text-jumbo">{% trans "je déclare les ressources humaines et matérielles de mon service / mon hôpital" %}</li>
        <li class="text-jumbo">{% trans "j'accède aux ressources disponibles sur le territoire" %}</li>
      </ul>

      <hr class="my-4">
      <h2 class="title-jumbo">{% trans "Je suis médecin" %}</h2>
      <ul>
        <li class="text-jumbo">{% trans "j'enregistre des données médicales de mes patients" %}</li>
        <li class="text-jumbo">{% trans "j'accède à toutes les données patients du territoire" %}</li>
      </ul>

      <p class="lead" style="text-align:right">
        <a class="btn btn-lg btn-danger" style="margin-top:50px;" href="/accounts/login/?next=/">
          {% trans "Authentification" %} >
      </a>
    </div>

    <div class="jumbotron" style="padding-top:50px; padding-bottom: 50px; margin-bottom: 100px; margin-top: 100px;">
      <h1 class="title-jumbo">{% trans "Protocoles de soins, recommandations, ..." %}</h1>
      <p class="text-jumbo">{% trans "Base documentaire à l’attention des professionnels de santé rassemblant les recommandations des sociétés savantes et les guides méthodologiques des autorités de santé" %}</p>
      <hr class="my-4">
      <p class="text-jumbo">{% trans "Pas besoin de compte ! Les données sont en libre accès à la page suivante" %}</p>
      <p class="lead" style="text-align:right">
        <a class="btn btn-lg btn-outline-dark" style="margin-top:50px;" href="/opendata/">
          {% trans "Données libres d'accès" %} >
      </a>
    </div>

    <div class="row" style="margin-top: 50px;">
      <h2>{% trans "Dernières mises à jour" %}</h2>
      {% autoescape off %}
          {% last_maj %}
      {% endautoescape %}
    </div>

</div>

{% endblock %}
